.black{
    background-color:rgb(19, 1, 5) ;
    text-align: center;
     background-image: url(yours.jpg);
}
.lang{
    color: white;
}
.offer{
    color: white;
    font-size: 27px;
    list-style-type: none;
}
.mu{
    color: white;
    background-color:white;
    justify-content: space-between;
    display: flex;
    padding: 10px;
}
.dor{
    color: white;
    font-size: 29px;
}
.mutesi{
    color: white;
    font-size: 27px;
    list-style-type: none;
}
.bbb{
    color:white ;
    list-style-type: none;
}